<% provide(:title, "Listas") %>
<h1>Listas</h1>
 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Lista</th>
      <th scope="col">Número de Itens</th>
      <th scope="col" colspan="3"></th>
    </tr>    
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.items.size %></td>
        <td><%= link_to 'Show', list_path(list) %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list_path(list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
