<h1>Show List</h1>

<p>
  <strong>Lista do super:</strong>
  <%= @list.name %>
</p>
 
<table>
  <tr>
    <th>Itens</th>
    <th>Categoria</th>
  </tr>
  <% @list_items.each do |list_item| %>
    <tr class="<%= 'del' if list_item.done == true %>">
      <td>
        <%= list_item.item.name %>
      </td>
      <td>
        <%= list_item.item.category.name %>
      </td>
      <td>
        <%= link_to (list_item.done == true ? 'uncheck' : 'check'), check_item_list_path(@list, item_id: list_item.item.id) %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', lists_path %>
