<%= link_to 'Home', root_path %>

<%= render 'form' %>

<table>
	<tr>
		<th>Lista de Compras</th>
    <th>Categoria</th>
    <th colspan="2"></th>
	</tr>
	<% @items.each do |item| %>
		<tr>
			<td>
				<%= item.name %>
			</td>
      <td>
        <%= item.category.name %>
      </td>
			<td><%= link_to 'Edit', edit_item_path(item) %></td>
			<td><%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
